*{
	margin: 0px;
	padding: 0px;
	list-style: none;/* 清除列表的默认样式 */
	outline: none; /* 轮廓 input */
	box-sizing: border-box;/* 不用考虑border对盒子大小的影响 */
}
img{
	width: 100%;
	height: 100%;
	border: 0px;
}
a{
	text-decoration: none;
	color:#999;
}
